@charset "utf-8";


/* ------------ Base ------------ */

html {
	/* overflow: scroll; */
	overflow: -moz-scrollbars-vertical;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
	color: #222;
  word-break:break-all; 
	word-wrap:normal; 
}

/* ------------ HTML5 display definitions ------------ */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
	display: block;
	margin: 0;
	padding: 0;
}

audio, canvas, video {
	display: inline-block;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

/* ------------ Links ------------ */

a { text-decoration: none; color: #27d; }
a:focus { outline: none; } /* Chromeにおける outline の表示不具合を修正 */
a:hover, a:active { outline: 0; color: #f90; }
area:hover, area:active, area:focus { border: none; outline: 0; color: #f90; } /* 全てのブラウザでホバー時、フォーカス時の読みやすさを改善 */

/* ------------ List ------------ */

ol, ul { list-style: none; }

/* ------------ Embedded content ------------ */

img { border: 0; vertical-align: bottom; }

svg:not(:root) { overflow: hidden; } /* IE9においてoverflowの表示問題を修正 */

/* ------------ Figures ------------ */

figure { margin: 0; } /* IE6/7/8/9, S5, O11におけるmarginの問題を修正 */

/* ------------ Forms ------------ */

fieldset { border: 0; }

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
		line-height: 1.5;
    margin: 0;
		outline: none;
}

button, input { line-height: normal; } /* FF3/4のUA stylesheetにおいてline-heightが!importantになっている点について修正 */

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button; /*  image-typeが'input'とその他についてユーザビリティと一貫性を改善 */
    cursor: pointer; /* iOSにおいてクリック可能な'input'にスタイルが適用できない問題を修正 */
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
} /* IE8/9においてbox-sizingプロパティがcontent-boxになっている点を修正 */

input[type="search"] {
    -webkit-appearance: textfield; /* S5, Chromeにおいてappearanceプロパティがsearchfieldになっている点を修正 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* S5, Chromeにおいてbox-sizingプロパティがborder-box担っている点を修正 (将来的なことを踏まえて-mozも含める) */
    box-sizing: content-box;
} /*  */

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
} /* S5, Chrome on OSXにおけるpaddingの表示問題を修正 */

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
} /* FF3/4におけるpadding及びborderの表示問題を修正 */

textarea {
    overflow: auto; /* IE6/7/8/9におけるデフォルト表示のスクロールバーを削除 */
    vertical-align: top; /* 全てのブラウザーにおいて読みやすさと揃えを改善 */
}

/* ------------ Tables ------------ */

table {
	border-collapse: collapse;
	border-spacing: 0;
}
th,
td,
caption { text-align: left; vertical-align: top; }


/* ------------ Typography ------------ */

body {
	font: 13px/1.385 arial, helvetica, clean, sans-serif; /* 基本文字設定 */
	*font-size: small; /* Win IE7およびWin IE6標準準拠モード向け */
	*font: x-small; /* Win IE 5-5.5､6(後方互換モード)向け */
}

h1, h2, h3, h4, h5, h6 {
	font-size :100%;
	font-weight: bold;
}

table {
	font-size: inherit; /* モダンブラウザ向け */
	font: 100%; /* Win IE 5-5.5､6(後方互換モード)向け */
}

pre, code, kbd, samp, tt {
	font-family: monospace;
	*font-size: 108%; /* Win IE全般向け */
	line-height: 100%;
}

body, button, input, select, optgroup, textarea {
	font-family: "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
	Osaka,
	"ＭＳ Ｐゴシック", "MS PGothic",
	sans-serif;
}

address, caption, cite, code, dfn, th, var {
	font-style: normal;
	font-weight: normal;
}

abbr, acronym { border: 0; }
abbr[title] { border-bottom: 1px dotted; } /* IE7/8/9, S5, Chromeにおいてabbr要素がスタイリングされない問題を修正 */
b, strong { font-weight: bold; } /* FF3/4, S4/5, Chromeにおいてb,strong要素がboldにならない問題を修正 */
dfn { font-style: italic; } /* S5, Chromeにおいてdfn要素がイタリック体にならない問題を修正 */
mark { background: #ff0; color: #000; } /* IE6/7/8/9においてmark要素がスタイリングされない問題を修正 */
q:before, q:after { content:''; }

em { font-style: normal; font-weight: bold; }

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
} /* 全てのブラウザーにおいてpre-formatted textの読みやすさを改善 */

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; } /* 全てのブラウザーにおいてsubおよびsup要素がline-heightに影響する問題を防ぐ */