@charset "UTF-8";

/*============================
@import
============================*/

@import "base";

// 2025 パネル画像
#presidentChange2025 #panelArea{
  background-image: url("/imageFile/projects/2025/president_change/title.jpg");
  background-position: center center;
}

#chairmanRetire2025 #panelArea{
  background-image: url("/imageFile/projects/2025/chairman_retire/title.jpg");
  background-position: center center;
}

#anzenTaikai2025 #panelArea{
  background-image: url("/imageFile/projects/2025/anzen_taikai2025/title.jpg");
  background-position: center center;
}

#daikokuSolar2025 #panelArea{
  background-image: url("/imageFile/projects/2025/daikokusolar/title.jpg");
  background-position: center top;
}

#kanazawaRelease2025 #panelArea{
  background-image: url("/imageFile/projects/2025/kanazawa_release/title.jpg");
  background-position: center center;
}

#intern2025 #panelArea{
  background-image: url("/imageFile/projects/2025/intern2025/title.jpg");
  background-position: center center;
}

#siosai2025 #panelArea{
  background-image: url("/imageFile/projects/2025/siosai2025/title.jpg");
  background-position: center center;
}

#grandSlam2025 #panelArea{
  background-image: url("/imageFile/projects/2025/grandslam2025/title.jpg");
  background-position: center center;
}

#golf2025 #panelArea{
  background-image: url("/imageFile/projects/2025/golf2025/title.jpg");
  background-position: center center;
}

/*============================
Function
============================*/

