@charset "UTF-8";

/*============================
@import
============================*/

@import "base";


// パネル画像
#uniformRenew #panelArea{
  background-image: url("/imageFile/projects/2024/uniformRenew/panel@2x.jpg");
  background-position: center top;
}
#golf2023 #panelArea{
  background-image: url("/imageFile/projects/2024/golf2023/panel@2x.jpg");
  background-position: center middle;
}
#minatotakumi #panelArea{
  background-image: url("/imageFile/projects/2024/minatotakumi/panel@2x.jpg");
  background-position: center middle;
}




/*============================
Function
============================*/
