@charset "UTF-8";

/*============================
@import
============================*/

@import "base";


// パネル画像
#uniformRenew #panelArea{
  background-image: url("/imageFile/projects/2024/uniformRenew/panel@2x.jpg");
  background-position: center top;
}
#bathroom #panelArea{
  background-image: url("../../imageFile/projects/2023/bathroom/panel@2x.jpg");
  background-position: center middle;
}
#golf2022 #panelArea{
  background-image: url("../../imageFile/projects/2023/golf2022/panel@2x.jpg");
  background-position: center middle;
}

#intern2023 #panelArea{
  background-image: url("../../imageFile/projects/2023/intern2023/panel@2x.jpg");
  background-position: center middle;
}

#common #panelArea{
  background-image: url("../../imageFile/projects/2023/common/panel@2x.jpg");
  background-position: center middle;
}

#porepore #panelArea{
  background-image: url("../../imageFile/projects/2023/porepore/panel@2x.jpg");
  background-position: center middle;
}

#wfp #panelArea{
  background-image: url("../../imageFile/projects/2023/wfp/panel@2x.jpg");
  background-position: center top;
}


/* articleUnit */
.articleUnit{
  margin-top: $work_padding;
  padding: $work_padding*2;
  background: #fff;
  .unitTitle{
    // font-family: 'Shippori Mincho', serif;
    color: $color_blue;
    font-size: 32px;
    line-height: 110%; /* 35.2px */
    margin-bottom: 38px;
  }
  .unitContents{
    display: flex;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
    .photo{
      .caption{
        margin-top: 10px;
        display: block;
        font-size: 12px;
        color: #888;
        text-align: center;
        & + img{
          margin-top: $work_padding;
        }
      }
    }
    .textSet{
      p{
        line-height: 2;
        font-size: 14px;
        & + p{
          margin-top: $work_padding;
        }
      }
      & + .textSet{
        margin-top: $work_padding;
      }
      &.sideA{
        .photo{
          float: left;
          margin-right: $work_padding;
        }
      }
      &.sideB{
        .photo{
          float: right;
          margin-left: $work_padding;
        }
      }
    }
  }
}



/*============================
Function
============================*/
