/*============================
Global
============================*/

$width_side: 210px;

/*============================
Style
============================*/

body{
  background: $color_gray; 
}

/* Panel */
#panelArea {
  @include background-image(linear-gradient(-45deg, #f6f6f6 25%, white 25%, white 50%, #f6f6f6 50%, #f6f6f6 75%, white 75%, white));
  background-size: 4px 4px;
  .base{
    width: $width_page;
    margin: 0 auto;
    padding: 100px 10px;
    .pageTitle {
      font-size: 30px;
      font-weight: bold;
    }
    .copy {
      margin-top: 10px;
    }
  }
}

/* pankuzu */
#globalPankuzu {
  .pankuzuBase {
    width: $width_page;
    margin: 0 auto;
    .pankuzu {
      padding: 10px 0;
      .link {
        @include inline-block;
        &:after { content: ">"; margin: 0 7px; }
        &:last-child:after { content: ""; }
      }
    }
  }
}

/* PageSet */
.pageSet {
  @include clearfix;
  width: $width_page;
  margin: 0 auto;
}

/* SideNavi */
#sideNaviArea {
  $sideNavi_padding: $width_base_margin;
  float: left;
  width: $width_side - ($sideNavi_padding * 2);
  margin-right: $width_base_margin;
  padding: $sideNavi_padding;
  background: #fff;
  .pageTitle {
    font-size: 15px;
    font-weight: bold;
  }
  .sideNavi{
    .naviBase{
      .list{
        margin-top: 10px;
        a{

        }
      }
    }
  }
}

/* contentsArea */
.contentsArea {
  float: right;
  $contentsArea_padding: $width_base_margin;
  width: $width_page - $width_base_margin - $width_side - ($contentsArea_padding * 2);
  padding: $contentsArea_padding;
  background: #fff;
}
