@charset "UTF-8";

/*============================
@import
============================*/

@import "core";  
@import "underPage"; 


/*============================
unit
============================*/

/* Panel */
#panelArea{
  background-image: url("../../imageFile/comapny_dammy_photo.jpg");
}

/* companyDesc */
#companyDescEnvironment{
  margin-bottom: $width_base_margin*2;
  .title{
    @extend %contentsAreaTitle;
  }
  .contents{
    margin-top: $width_base_margin;
    font-size: 14px;
    .descList{
      padding-left: $width_base_margin*1.5;
      .list{
        list-style-type: decimal;
      }
      .list + .list{
        margin-top: $width_base_margin;
      }
    }
    .hint{
      display: block;
      text-align: right;
      margin-top: $width_base_margin;
      font-size: 12px;
      color: #aaa;
    }
  }
}

/* companyDescCSR */
#companyDescCSR{
  @extend #companyDescEnvironment;
  .title{
  }
  .contents{
    .descList{
      .list{
        .listItem{
          .item{
            font-weight: bold;
          }
          .data{
            margin-top: $width_base_margin/3;
            &:before{
              content: '・';
            }
          }
        }
      }
    }
  }
}

/* companyDescDetail */
#companyDescDetail{
  @extend #companyDescEnvironment;
  .title{
  }
  .contents{
    .descTable{
      .item,.data{
        padding: $width_base_margin/2;
        border-bottom: 1px solid  #ddd;
        vertical-align: top;
      }
      .item{
          width: 22%;
          font-weight: bold;
          border-right: 1px solid  #eee;
      }
      .data{
         .tableList{
          .list{
            .label{
              display: inline-block;
              width: 10em;
              font-size: 12px;
              font-weight: bold;
              margin-right: $width_base_margin/2;
            }
            .name{
            }
          }
      }
     .addressList + .addressList{ margin-top: $width_base_margin; padding-top: $width_base_margin; border-top: 1px dashed  #ccc; }
     .addressList{
         .place{
          font-weight: bold;
          font-size: 15px;
          }
         .address{
          }
         .map{
          }
         .tel{
          }
      }
     .other{
        text-align: right;
      }
      .numList{
        @extend .addressList;
        .label{
          font-weight: bold;
          margin-bottom: $width_base_margin/2;
        }
        .num{
          .numListBase{
            .numListData{
              .numLabel{
              }
              .numData{
              }
            }
          }
        }
           .dataList{
        }
           .dataList .dataListItem{
        }
      }
    }
    }
  }
}

/* #companyHistory */
#companyHistory{
  @extend #companyDescEnvironment;
  .historyTable{
    .item,.data{
      padding: $width_base_margin/2;
      border-bottom: 1px solid  #ddd;
      vertical-align: top;
    }
    .item{
      white-space: nowrap;
        width: 1%;
        font-weight: bold;
        border-right: 1px solid  #eee;
    }
    .data{
    }
  }
}

/* #companyShips */
#companyShips{
  @extend #companyDescEnvironment;
  .explain{
    margin: $width_base_margin 0;
  }
  .shipsTable{
    th,td{
      padding: $width_base_margin/2;
      border: 1px solid  #ddd;
      vertical-align: top;
    }
    th{
        background: #eee;
        font-weight: bold;
    }
    td{
    }
  }
}

.dammyArea{
    @include dammyArea();
    padding: 100px 0 1000px;
    text-align: center;
}

/*============================
parts
============================*/