@charset "UTF-8";

/*============================
@import
============================*/

@import "core";  
@import "underPage"; 


/*============================
unit
============================*/

/* Panel */
#panelArea{
  background-image: url("../../imageFile/panelPhoto_message.jpg");
}

/* Base */
#comapanyMessage{
  background: #fff;
  padding: $width_base_margin*1.5;
  .photo{

  }
  .catch{
    margin-top: $width_base_margin;
    padding: 0 5px;
    font-size: 30px;
    color: $color_blue;
  }
  .text{
    margin-top: $width_base_margin;
    padding: 0 5px;
    font-size: 14px;
    line-height: 1.75;
    p{
      margin-bottom: $width_base_margin;
    }
    .list{
      margin: 0 0 $width_base_margin $width_base_margin/2;
      li{
        list-style: decimal inside;
        & + li{
        margin-top: $width_base_margin/2;
        }
      }
    }
  }
  .nameArea{
    text-align: center;
    .nameSet,.sign{
      @include inline-block();
      vertical-align: middle;
    }
    .nameSet{
      text-align: right;
      .name{
        display: block;
      }
    }
    .sign{
      margin-left: 10px;
    }
  }
}
