/*============================
@import
============================*/

@import "core";  
@import "underPage"; 


/*============================
parts
============================*/

/* Panel */
#panelArea{
  background-image: url("../../imageFile/panelPhoto_form.jpg");
}

.contentsArea{
  width: 80%;
  margin: 0 auto;
  float: none;
}

/* Copy */
.copyArea{
  padding: calc($width_base_margin / 2) 0;
}

/* formUnit */
.formUnit{
  margin-top: $width_base_margin;
  @extend %contentsBase;
  .title{
    @extend %contentsAreaTitle;
  }
  .copy{
    border: 1px solid  #e0e0e0;
    margin-top: $width_base_margin;
    padding: $width_base_margin;
    background: #fafafa;
  }
  .dataSet{
    margin-top: calc($width_base_margin / 2);
    text-align: center;
    .num{
      font-size: 30px;
      padding-left: 45px;
    }
    .mail{
      background: url('../../imageFile/icon_mail.png') left center no-repeat;
      &:hover{
        opacity: .7;
      }
    }
    .tel{
      background: url('../../imageFile/icon_tel.png') left center no-repeat;
    }
    .fax{
      margin-left: 40px;
      background: url('../../imageFile/icon_fax.png') left center no-repeat;
    }
  }
  .time{
    margin-top: calc($width_base_margin / 2);
  }
}

#formTel{
  .dataSet{
    margin: $width_base_margin 0;
  }
}


/*============================
unit
============================*/
