/*============================
@import
============================*/

@import "core";  
@import "underPage"; 

/*============================
parts
============================*/


/*============================
unit
============================*/

.hideOverlay{
  background: $color_gray;
  position: fixed;
  z-index: 1000000;
  .symbolSet{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 36%;
    .symbol{
      display: none;
    }
    .catch{
      display: none;
      margin-top: 45px;
    }
  }
}

body{
  display: none;
}

/* Panel */
#topPanelArea{
  $position_title: 37%;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../imageFile/panelPhoto_top.jpg");
}

/* Copy */
#topCopy {
  width: $width_page;
  margin: 0 auto;
  padding: $width_base_margin*5 0;
  text-align: center;
  .catch{
    text-align: center;
    font-size: 30px;
    color: #888;
  }
  .text{
    display: inline-block;;
    width: 370px;
    margin-top: $width_base_margin;
    text-align: left;
  }
  .add{
    margin-top: 30px;
  }
}

/* topAbout */
#topAbout{
  padding: 100px 0;
  .aboutBase {
    width: $width_page;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    align-self: stretch;
    .copyBase{
      color: $color_font_base;
      padding-left: 10px;
      .catch{
        font-size: 30px;
        line-height: 130%; /* 39px */
      }
      .copy{
        margin-top: 40px;
        font-size: 14px;
        line-height: 2.0;
        p + p{
          margin-top: 20px;
        }
      }
      .btn{
        margin-top: 40px;
        a{
          @include btnStyle($color_blue,#fff,calc($width_base_margin / 3),calc($width_base_margin * 2.5),13);
            padding-right: $width_base_margin*2.5;
          &:after{
            @include link_Arrow(8,10,#fff);
          }
        }
      }
    }
  }
  .aboutLink{
    width: $width_page;
    margin: 85px auto 0;
    display: flex;
    padding: 0px 150px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    .linkUnit{
      display: flex;
      flex-direction: column;
      align-self: stretch;
      background: $color_blue;
      .contents{
        padding: 20px;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-self: stretch;
        gap: 10px;
        color: #FFF;
        .title{
          font-size: 18px;
        }
        .copy{
          font-size: 13px;
          line-height: 1.5; 
          opacity: 0.8;
        }
      }
      .link{
        padding: 0 20px 20px;
        a{
          display: block;
          width: 100%;
          @include btnStyle(#fff,$color_blue,calc($width_base_margin / 3),calc($width_base_margin * 2.5),13);
            padding-right: $width_base_margin*2.5;
          &:after{
            @include link_Arrow(8,10,$color_blue);
          }
        }
      }
    }
  }
}

/* Responsive: smartphone */
@media screen and (max-width: 600px) {
  #topAbout {
    .aboutBase {
      .copyBase {
        .catch {
          font-size: 26px;
        }
      }
    }
  }
}

/* Project */
#topProject{
  @extend %topContentsBase;
  .contentsBase{
    background: $color_gray;
    padding: calc($width_base_margin*2) 0;
    .contents{
      width: $width_page;
      margin: 0 auto;
      .projectListUnit{
        clear: both;
        overflow: hidden;
        & + .projectListUnit{
          margin-top: 8px;
        }
        .project{
          float: left;
          width: 320px;
          background: #fff;
          & + .project{
            margin-left: 10px;
          }
          a{
            display: inline-block;;
            .photo{
              width: 320px;
              height: 240px;
              overflow: hidden;
              img{
                position: relative;
                height: auto;
              }
            }
            .projectTitle{
              font-size: 12px;
              padding: calc($width_base_margin / 2) calc($width_base_margin / 2);
            }
          }
        }
      }
    }
  }
}

/* Work */
#topWork{
  @extend %topContentsBase;
  .contentsBase{
    background: $color_gray;
    padding-top: calc($width_base_margin*2);
    .contents{
      width: $width_page;
      margin: 0 auto;
      .workListUnit{
        clear: both;
        overflow: hidden;
        & + .workListUnit{
          margin-top: 8px;
        }
        .work{
          float: left;
          width: 320px;
          background: #fff;
          & + .work{
            margin-left: 10px;
          }
          a{
            display: inline-block;;
            .photo{
              width: 320px;
              height: 240px;
              overflow: hidden;
              img{
                position: relative;
                height: auto;
              }
            }
            .workTitle{
              font-size: 12px;
              padding: calc($width_base_margin / 2) calc($width_base_margin / 2);
            }
          }
        }
      }
    }
  }
}
