/*============================
@import
============================*/

@import "core";  
@import "underPage"; 


/*============================
parts
============================*/

/* Panel */
#panelArea{
  background-image: url("../../imageFile/work_photo.jpg");
}

.prjUnit{
  @extend %contentsBase;
  & + .prjUnit{
    margin-top: $width_base_margin*2;
  }
  .category{
    @extend %contentsAreaTitle;
    padding-bottom: $width_base_margin;
  }
  .workUnit{
    padding: $width_base_margin 0;
    border-top: 1px dashed  $color_line_dashed;
    .name{
      font-size: 22px;
      color: $color_blue;
    }
    .unitBase{
      margin-top: $width_base_margin/2;
      display: table;
      %tableCell{
        display: table-cell;
        vertical-align: top;
      }
      .photo{
        @extend %tableCell;
      }
      .dataSet{
        @extend %tableCell;
        padding-left: $width_base_margin/2;
        .dataTable{
          @extend %descTable;
          border: none;
          .item,.data{
            padding: $width_base_margin/1.5;
            font-size: 11px;
            border: none;
            border-bottom: 1px solid  lighten($color_border, 15%);
          }
          tr:last-child{
            .item,.data{
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}


/*============================
unit
============================*/

