/*============================
@import
============================*/

@import "core";  
@import "underPage"; 


/*============================
parts
============================*/

/* Panel */
#panelArea{
  background-image: url("../../imageFile/work_photo.jpg");
}

.prjUnit{
  & + .prjUnit{
    margin-top: $width_base_margin*2;
  }
  .category{
    font-size: 26px;
    font-weight: bold;
    padding-bottom: $width_base_margin/2;
    border-bottom: 3px solid $color_blue;
  }
  .workUnit{
    display: table;
    margin-top: $width_base_margin;
    & + .workUnit{
      padding-top: $width_base_margin;
      border-top: 1px dashed  #aaa;
    }
    .photo,.dataSet{
      display: table-cell;
      vertical-align: top;
    }
    .photo{
      padding-right: $width_base_margin;
    }
    .dataSet{
      .dataTable{
        border-top: 1px solid  #eee;
        border-bottom: 1px solid  #eee;
        .item,.data{
          padding: $width_base_margin/2;
        }
        .item{
          border-bottom: 1px solid  #fff;
          background: #f6f6f6;
          white-space: nowrap;
          font-weight: bold;
          font-size: 12px;
          vertical-align: top;
          text-align: center;
        }
        .data{
          border-bottom: 1px solid  #eee;
          vertical-align: top;
          padding-left: $width_base_margin/2;
        }
      }

    }
  }
}


/*============================
unit
============================*/

