@charset "UTF-8";

/*============================
@import
============================*/

@import "core";  
@import "underPage"; 


/*============================
Sytle
============================*/

/* Panel */
#panelArea{
  .aboutTitleSet{
    position: absolute;
    top: 33%;
    text-align: center;
    width: $width_page;
    %baseUnit{
      display: inline-block;;
      vertical-align: middle;
    }
    .label{
      @extend %baseUnit;
    }
    .title{
      @extend %baseUnit;
      margin-left: 40px;
    }
  }
}

.contentsArea{
  width: 100%;
}


/*============================
Function
============================*/
