@charset "UTF-8";

/*============================
@import
============================*/

@import "core";  
@import "underPage"; 
@import "about"; 


/*============================
Sytle
============================*/

/* Panel */
#panelArea{
  background-image: url("../../imageFile/about/human_panel_photo.jpg");
  background-position: top center;
}

.contentsArea{
  width: 100%;
}

$human_padding: 25px;

/* Profile */
.humanProfile{
  margin-top: $human_padding;
  background: #fff;
  .base{
    display: table;
    width: 100%;
    %cell{
      display: table-cell;
      vertical-align: middle;
    }
    .profile{
      @extend %cell;
      text-align: center;
    }
    .photo{
      @extend %cell;
      width: 1%;
    }
  }
}

/* Date */
.articleDate{
  text-align: right;
  margin-top: 10px;
  font-size: 12px;
}


/* articleUnit */
.articleUnit{
  clear: both;
  overflow: hidden;
  margin-top: $human_padding;
  padding: calc($human_padding * 2);
  background: #fff;
  .unitContents{
    margin-top: $human_padding;
    img{
      float: left;
      margin: 0 $human_padding $human_padding 0;
    }
    p{
      line-height: 2;
      font-size: 14px;
      & + p{
        margin-top: $width_base_margin;
      }
    }
  }
}
.articleUnitCompany{
  .unitContents{
    img{
      float: right;
      margin: 0 0 $human_padding $human_padding;
    }
  }
}

/* humanLink */
.humanLinkSet {
  $width_link_margin: $human_padding;
  margin-top: $human_padding;
  .title {
    padding: 20px;
    background: $color_blue;
  }
  & + .humanLinkSet {
    margin-top: $human_padding*2;
  }
  .linkBase{
    margin-top: $human_padding;
    display: flex;
    .link{
      background: #fff;
      & + .link{
        margin-left: $width_link_margin;
      }
      .photo,.text{
        opacity: .6;
        box-shadow: none !important;
      }
      .text{
        padding: 35px 0;
        text-align: center;
      }
      &.zadankai {
        .text {
          padding-top: 65px;
        }
      }
    }    
    .link.now{
      .photo,.text{
        opacity: 1;
      }
    }
  }
}

.rookieLink {
  .link {
    position: relative;
    img {
    }
    .linkArea {
    width: 310px;
    height: 248px;
    display: inline-block;;
    position: absolute;
    border: 4px solid  $color_blue;
    transition: border-width .25s $easeInOutQuad;
    box-sizing: border-box;
      &:hover {
        border-width: 8px;
      }
    }
  }
}


/*============================
Function
============================*/
