@charset "UTF-8";

/*============================
@import
============================*/

@import "core";  
@import "underPage"; 
@import "about"; 

/*============================
Global
============================*/

$work_padding: 25px;

/*============================
Sytle
============================*/

/* Panel */
#panelArea{
  background-image: url("../../imageFile/about/work_panel_photo.jpg");
}

/* articleUnit */
.articleUnit{
  clear: both;
  overflow: hidden;
  margin-top: $work_padding;
  padding: $work_padding*2;
  background: #fff;
  .unitTitle{
    // font-family: 'Shippori Mincho', serif;
    color: $color_blue;
    font-size: 32px;
    line-height: 110%; /* 35.2px */
    margin-bottom: 38px;
  }
  .unitContents{
    margin-top: $work_padding*1.5;
    .photo{
      margin-bottom: $work_padding;
      .caption{
        margin-top: 10px;
        display: block;
        font-size: 12px;
        color: #888;
        text-align: center;
        & + img{
          margin-top: $work_padding;
        }
      }
    }
    p{
      line-height: 2;
      font-size: 14px;
      & + p{
        margin-top: $work_padding;
      }
    }
    .textSet{
      clear: both;
      overflow: hidden;
      & + .textSet{
        margin-top: $work_padding;
      }
      &.sideA{
        .photo{
          float: left;
          margin-right: $work_padding;
        }
      }
      &.sideB{
        .photo{
          float: right;
          margin-left: $work_padding;
        }
      }
    }
  }
}

/*============================
Function
============================*/
