/*============================
@import
============================*/

@import "core";  
@import "underPage"; 

/*============================
parts
============================*/

@mixin btnStyle($bgColor,$textColor,$vP,$wP,$fontSize) {
  position: relative;
  padding: $vP $wP;
  @include inline-block();
  background: $bgColor;
  color: $textColor;
  font-size: $fontSize;
  text-align: center;
  opacity: .6;
}

%topContentsBase{
  $title_padding: $width_base_margin*2;
  background: #fff;
  .contentsTitle{
    position: relative;
    width: $width_page;
    padding: $title_padding*1.5 0 $title_padding/2;
    margin: 0 auto;
    .btn{
        a{
        @include btnStyle($color_blue,#fff,$width_base_margin/3,$width_base_margin*2.5,13);
        padding-right: $width_base_margin*2.5;
        position: absolute;
        top: $title_padding*1.5;
        right: 0;
        &:after{
          @include link_Arrow(9,10,#fff);
        }
      }
    }
  }
}


/*============================
unit
============================*/

.hideOverlay{
  background: $color_gray;
  position: fixed;
  z-index: 1000000;
}

body{
  display: none;
}

/* Panel */
#topPanelArea{
  $position_title: 37%;
  position: relative;
  background-position: center center;
  @include background-size(cover);
  background-repeat: no-repeat;
  background-image: url("../../imageFile/panelPhoto_top.jpg");
  .base{
    display: none;
    position: relative;
    background: rgba(0,0,0,.3);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#33000000', endColorstr='#33000000');
    .catch{ 
      display: none;
      position: absolute;
      width: 100%;
      top: 48%;
      text-align: center;
    }
  }
}

/* Copy */
#topCopy {
  width: $width_page;
  margin: 0 auto;
  padding: $width_base_margin*4 0 $width_base_margin*5;
  text-align: center;
  .catch{
    text-align: center;
    font-size: 30px;
    color: #888;
  }
  .text{
    @include inline-block();
    width: 370px;
    margin-top: $width_base_margin;
    text-align: left;
  }
}

/* About */
#topAbout{
  @extend %topContentsBase;
  .aboutUnitBase{
    .aboutUnit{
      position: relative;
      background-position: center center;
      @include background-size(cover);
      background-repeat: no-repeat;
      text-align: center;
      .unitBase{
        height: 500px;
        background: rgba(0,0,0,.4);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#44000000', endColorstr='#44000000');
        .text{
          position: relative;
          @include inline-block();
          width: 560px;
          top: 120px;
          .titleSet{
            display: table;
            .label,.titleBase{
              display: table-cell;
              vertical-align: middle;
              text-align: left;
            }
            .titleBase{
              padding-left: $width_base_margin*1.5;
              .btn{
               margin-top: $width_base_margin;
                a{
                  @include btnStyle(#fff,$color_blue,$width_base_margin/3,$width_base_margin*2.5,13);
                    padding-right: $width_base_margin*2.5;
                  &:after{
                    @include link_Arrow(8,10,$color_blue);
                  }
                }
              }
            }
          }          
        }
      }
    }
  }
  .aboutUnitWork{
    background-image: url("../../imageFile/about/tec_panel_photo.jpg");
  }
  .aboutUnitHuman{
    background-image: url("../../imageFile/about/human_panel_photo.jpg");
  }
}

/* Work */
#topWork{
  @extend %topContentsBase;
  .contentsBase{
    background: $color_gray;
    padding-top: $width_base_margin*2;
    .contents{
      width: $width_page;
      margin: 0 auto;
      .workListUnit{
        clear: both;
        overflow: hidden;
        & + .workListUnit{
          margin-top: 8px;
        }
        .work{
          float: left;
          width: 320px;
          background: #fff;
          & + .work{
            margin-left: 10px;
          }
          a{
            @include inline-block();
            .photo{
              width: 320px;
              height: 240px;
              overflow: hidden;
              img{
                position: relative;
                height: auto;
              }
            }
            .workTitle{
              font-size: 12px;
              padding: $width_base_margin/2.5 $width_base_margin/2;
            }
          }
        }
      }
    }
  }
}


