/*============================
@import
============================*/

@import "core";  
@import "underPage"; 


/*============================
parts
============================*/

/* Panel */
#panelArea{
  background-image: url("../../imageFile/panelPhoto_work.jpg");
}

.prjUnit{
  @extend %contentsBase;
  & + .prjUnit{
    margin-top: $width_base_margin*2;
  }
  .category{
    @extend %contentsAreaTitle;
    padding-bottom: $width_base_margin;
  }
  .workUnit{
    padding: $width_base_margin 0;
    border-top: 1px dashed  $color_line_dashed;
    .name{
      font-size: 22px;
      color: $color_blue;
    }
    .unitBase{
      margin-top: $width_base_margin/2;
      display: table;
      %tableCell{
        display: table-cell;
        vertical-align: top;
      }
      .photo{
        @extend %tableCell;
        .movieLink {
          margin-top: 10px;
          text-align: center;
          a {
            img {
              vertical-align: middle;
              margin-right: 5px;
            }
            &:hover {
              opacity: .7;
            }
          }
        }
      }
      .dataSet{
        @extend %tableCell;
        padding-left: $width_base_margin/2;
        .dataTable{
          @extend %descTable;
          border: none;
          .item,.data{
            padding: $width_base_margin/1.5;
            font-size: 11px;
            border: none;
            border-bottom: 1px solid  lighten($color_border, 15%);
          }
          tr:last-child{
            .item,.data{
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}


/*============================
unit
============================*/

