@charset "UTF-8";

/*============================
@import
============================*/

@import "../../font/font-awesome.scss";


/*============================
Global Style
============================*/

/* Var */
$width_page: 980px;
$width_base_margin: 25px;
$contentsArea_padding: 0;

$color_black: #242424;
$color_blue: #00a7c9;
$color_gray: #eee;
$color_red: #f90000;
$color_font_base: #666;
$spacing_font: 1px;
$color_font_link: $color_blue;
$color_font_link_hover: adjust-lightness($color_font_link, 30%);

$color_line_dashed: #ccc;

$footer_margin_top: $width_base_margin * 3;


/* Font */
body{
  font: 13px/1.75 arial, helvetica, clean, sans-serif; /* 基本文字設定 */
}

body, button, input, select, optgroup, textarea{
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","メイリオ", Meiryo,Osaka,"ＭＳ Ｐゴシック", "MS PGothic",
  sans-serif;
  color: $color_font_base;
  letter-spacing: $spacing_font;
}

a{ 
  color: $color_font_link; 
  text-decoration: none;
}


/*============================
Function
============================*/

@mixin dammyArea() {
  @include background-image(linear-gradient(-45deg, #f6f6f6 25%, white 25%, white 50%, #f6f6f6 50%, #f6f6f6 75%, white 75%, white));
  background-size: 4px 4px;
}

@mixin link_Arrow($top,$right,$color,$size:20){
  @include fa-icon();
  content: "\f105";
  font-size: $size+px;
  position: absolute;
  top: $top+px;
  right: $right+px;
  color: $color;
}


/*============================
unit
============================*/

/* Global Header */
#globalHeader{
    background: #fff;
    top: 0;
    width: 100%;
    position: relative;
    &.fixed{
      position: fixed;
      z-index: 1000;
      border-bottom: 1px solid  #ddd;
      box-shadow: rgba(0,0,0,.1) 1px 1px 3px;
    }
  .base{
    display: flex;
    align-items: stretch;
    $width_logo: 256px;
    $padding_gnavi: 25px;
    $width_logo_per: 25%;
    width: 100%;
    // position: relative;
    // width: $width_page;
    // margin: 0 auto;
    // min-width: $width_page;
    .logo{
      
      // display: inline-block;
      // vertical-align: middle;
      // width: $width_logo_per - 1;
      // text-align: center;
      a{
        display: inline-block;
        padding: $padding_gnavi;
        img{
          width: 100%;
          height: auto;
          max-width: $width_logo;
          &.is_disable{
            display: none;
          }
        }
      }
    }
    .globalNavi{
      flex-grow: 1;
      // display: inline-block;
      // vertical-align: middle;
      // width: 100 - $width_logo_per;
      // min-width: $width_page - $width_logo;
      border-left: 1px solid  #ddd;
      display: flex;
        > .navi{
          flex-grow: 1;
          z-index: 100;
          border-right: 1px solid  #ddd;
          // text-align: center;
          position: relative;
          &:last-child {
            border-right: none;
            padding-right: 0;
          }
          &.now {
            &:after{
              width: 100%;
              position: absolute;
              bottom: -1px;
              left: 0;
              display: block;
              content: "";
              border-bottom: 5px solid $color_blue;
            }
            .gmenu {
              opacity: 1;
            }
          }
          > a{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            color: $color_black;
            opacity: .5;
          }
          // 新卒採用コメント
          .globalNavi-menu_1,
          .globalNavi-menu_4{
            &:after{
              display: block;
              position: absolute;
              // text-indent: 0;
              bottom: 1em;
              z-index: 100;
              font-size: 10px;
              font-weight: bold;
              color: $color_red;
            }
            &.globalNavi-menu_1:after {
              content:"たにもと座談会掲載中！";
              // left: -22%;
            }
            &.globalNavi-menu_4:after {
              content:"中途採用募集中";
              // left: -18%;
            }
          }
          .pullDownNavi{
            box-shadow: rgba(0,0,0,.1) 2px 2px 4px;
            position: absolute;
            left: 0;
            width: 100%;
            display: none;
            background: #fff;
            > li{
              > a{
                display: block;
                border-top: 1px solid  #ddd;
                padding: $width_base_margin;
                opacity: .6;
                box-shadow: none !important;
              }
            }
          }
        }
    }
  }
}

/* to PageTop */
.toPageTop{
  opacity: 0;
  display: inline-block;
  position: fixed;
  bottom: 0;
  right: 20px;
  text-align: right;
  &.fixed{
    display: block;
    position: relative;
    width: 100%;
    bottom: -$footer_margin_top;
  }
  a{
    opacity: .6;
    display: inline-block;
    padding: 20px;
    background: rgba(0,0,0,0.6);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#66000000', endColorstr='#66000000');
    text-align: center;
  }
}

/* Global Footer */
#globalFooter{
  $width_footer: $width_page;
  $padding_footer: $width_base_margin;
  margin-top: $footer_margin_top;
  background: #242424;
  .linkArea{
    width: $width_footer;
    margin: 0 auto;
    padding: $padding_footer 0 $padding_footer*6 0;
    overflow: hidden;
    .linkUnit{
      float: left;
      box-sizing: border-box;
      padding-right: $width_base_margin;
      &.linkUnitTop{
        width: 19%;
      }
      &.linkUnitAbout{
        width: 24%;
      }
      &.linkUnitWork{
        width: 14%;
      }
      &.linkUnitCompany{
        width: 14%;
      }
      &.linkUnitRecruit{
        width: 13%;
      }
      &.linkUnitForm{
        width: 16%;
      }
      .linkBase{
        .pageLink{
          a,span{
            position: relative;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
          }
          a:before{
            @include link_Arrow(0,-18,$color_blue,17);
          }
          a:hover{
            text-decoration: underline;
          }
        }
        .childLink{
          a{
            display: inline-block;
            opacity: .6;
            margin-top: 10px;
            color: #ddd;
            font-size: 11px;
            line-height: 1.1;
            box-shadow: none !important;
          }
        }
      }
    }
  }
  .copyrightArea{
    background: #fff;
    padding: calc($padding_footer / 2) 0;
    text-align: center;
    .copyright{
      font-size: 11px;
      color: #888;
      line-height: 1;
    }
  }
}

/*============================
parts
============================*/

// CSS Transition Easing
// Default
$linear: cubic-bezier(0.250, 0.250, 0.750, 0.750);
$ease: cubic-bezier(0.250, 0.100, 0.250, 1.000);
$ease-in: cubic-bezier(0.420, 0.000, 1.000, 1.000);
$ease-out: cubic-bezier(0.000, 0.000, 0.580, 1.000);
$ease-in-out: cubic-bezier(0.420, 0.000, 0.580, 1.000);
// In
$easeInQuad: cubic-bezier(0.550, 0.085, 0.680, 0.530);
$easeInCubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeInQuart: cubic-bezier(0.895, 0.030, 0.685, 0.220);
$easeInQuint: cubic-bezier(0.755, 0.050, 0.855, 0.060);
$easeInSine: cubic-bezier(0.470, 0.000, 0.745, 0.715);
$easeInExpo: cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeInCirc: cubic-bezier(0.600, 0.040, 0.980, 0.335);
$easeInBack: cubic-bezier(0.600, -0.280, 0.735, 0.045);
// Out
$easeOutQuad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
$easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeOutQuart: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$easeOutQuint: cubic-bezier(0.230, 1.000, 0.320, 1.000);
$easeOutSine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easeOutCirc: cubic-bezier(0.075, 0.820, 0.165, 1.000);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);
// In Out
$easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$easeInOutQuart: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$easeInOutQuint: cubic-bezier(0.860, 0.000, 0.070, 1.000);
$easeInOutSine: cubic-bezier(0.445, 0.050, 0.550, 0.950);
$easeInOutExpo: cubic-bezier(1.000, 0.000, 0.000, 1.000);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.150, 0.860);
$easeInOutBack: cubic-bezier(0.680, -0.550, 0.265, 1.550);
