@charset "UTF-8";

/*============================
@import
============================*/

@import "compass";
@import "../font/font-awesome.scss";


/*============================
Global Style
============================*/

/* Var */
$width_page: 980px;
$width_base_margin: 25px;
$contentsArea_padding: 0;

$color_blue: #0094dc;
$color_gray: #eee;
$color_font_base: #666;
$spacing_font: 1px;
$color_font_link: $color_blue;
$color_font_link_hover: adjust-lightness($color_font_link, 30%);

$color_line_dashed: #ccc;

$footer_margin_top: $width_base_margin * 3;



/* Font */
body{
  font: 13px/1.75 arial, helvetica, clean, sans-serif; /* 基本文字設定 */
}

body, button, input, select, optgroup, textarea{
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","メイリオ", Meiryo,Osaka,"ＭＳ Ｐゴシック", "MS PGothic",
  sans-serif;
  color: $color_font_base;
  letter-spacing: $spacing_font;
}

a{ 
  color: $color_font_link; 
  text-decoration: none;
}


/*============================
Function
============================*/

@mixin dammyArea() {
  @include background-image(linear-gradient(-45deg, #f6f6f6 25%, white 25%, white 50%, #f6f6f6 50%, #f6f6f6 75%, white 75%, white));
  background-size: 4px 4px;
}

@mixin link_Arrow($top,$right,$color,$size:20){
  @include fa-icon();
  content: "\f105";
  font-size: $size+px;
  position: absolute;
  top: $top+px;
  right: $right+px;
  color: $color;
}


/*============================
unit
============================*/

/* Global Header */
#globalHeader{
    background: #fff;
    top: 0;
    width: 100%;
    position: relative;
    &.fixed{
      position: fixed;
      z-index: 1000;
      border-bottom: 1px solid  #ddd;
      @include box-shadow(rgba(0,0,0,.1) 1px 1px 3px);
    }
  .base{
    $width_logo: 256px;
    $padding_gnavi: 25px;
    $width_logo_per: 25%;
    position: relative;
    // width: $width_page;
    // margin: 0 auto;
    min-width: $width_page;
    .logo{
      @include inline-block;
      vertical-align: middle;
      width: $width_logo_per - 1;
      text-align: center;
      a{
        @include inline-block;
        padding: $padding_gnavi;
        img{
          width: 100%;
          height: auto;
          max-width: $width_logo;
        }
      }
    }
    .globalNavi{
      @include inline-block;
      vertical-align: middle;
      width: 100 - $width_logo_per;
      min-width: $width_page - $width_logo;
      border-left: 1px solid  #ddd;
      .naviBase{
        > .navi{
          z-index: 100;
          $naviPadding: 3%;
          // @include inline-block;
          float: left;
          position: relative;
          @import "global/globalNavi/*.png";
          @include all-globalNavi-sprites($dimensions:true);
          width: 20%;
          &:last-child a{
            border-right: none;
            padding-right: 0;
          }
          &.now {
            position: relative;
            &:after{
              width: 100%;
              position: absolute;
              bottom: -1px;
              left: 0;
              display: block;
              content: "";
              border-bottom: 5px solid $color_blue;
            }
            a span {
              opacity: 1;
            }
          }
          .pullDownNavi{
            @include box-shadow(rgba(0,0,0,.1) 2px 2px 4px);
            position: absolute;
            left: 0;
            width: 100%;
            display: none;
            background: #fff;
            > li{
              > a{
                display: block;
                border-top: 1px solid  #ddd;
                padding: $width_base_margin;
                opacity: .6;
                box-shadow: none !important;
              }
            }
          }
        > a{
          display: block;
          border-right: 1px solid  #ddd;
          padding: $padding_gnavi+6 $naviPadding;
          text-align: center;
          span{
            @include inline-block;
            @include hide-text;
            height: 32px;
            background-image: url('../../imageFile/global/globalNavi-s56d415f372.png') !important;
            opacity: .5;
            box-shadow: none !important;
          }
        }
        }
      }
    }
  }
}

/* to PageTop */
.toPageTop{
  opacity: 0;
  @include inline-block();
  position: fixed;
  bottom: 0;
  right: 20px;
  text-align: right;
  &.fixed{
    display: block;
    position: relative;
    width: 100%;
    bottom: -$footer_margin_top;
  }
  a{
    opacity: .6;
    @include inline-block();
    padding: 20px;
    background: rgba(0,0,0,0.6);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#66000000', endColorstr='#66000000');
    text-align: center;
  }
}

/* Global Footer */
#globalFooter{
  $width_footer: $width_page;
  $padding_footer: $width_base_margin;
  margin-top: $footer_margin_top;
  background: #242424;
  .linkArea{
    width: $width_footer;
    margin: 0 auto;
    padding: $padding_footer 0 $padding_footer*6 0;
    overflow: hidden;
    .linkUnit{
      float: left;
      box-sizing: border-box;
      padding-right: $width_base_margin;
      &.linkUnitTop{
        width: 19%;
      }
      &.linkUnitAbout{
        width: 23%;
      }
      &.linkUnitWork{
        width: 14%;
      }
      &.linkUnitCompany{
        width: 14%;
      }
      &.linkUnitRecruit{
        width: 14%;
      }
      &.linkUnitForm{
        width: 16%;
      }
      .linkBase{
        .pageLink{
          a,span{
            position: relative;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
          }
          a:before{
            @include link_Arrow(0,-18,$color_blue,17);
          }
          a:hover{
            text-decoration: underline;
          }
        }
        .childLink{
          a{
            @include inline-block();
            opacity: .6;
            margin-top: 10px;
            color: #ddd;
            font-size: 11px;
            line-height: 1.1;
            box-shadow: none !important;
          }
        }
      }
    }
  }
  .copyrightArea{
    background: #fff;
    padding: $padding_footer/2 0;
    text-align: center;
    .copyright{
      font-size: 11px;
      color: #888;
      line-height: 1;
    }
  }
}

/*============================
parts
============================*/
