@charset "UTF-8";

/*============================
@import
============================*/

@import "compass";


/*============================
Global Style
============================*/

/* Var */
$width_page: 980px;
$width_base_margin: 25px;
$contentsArea_padding: 0;

$color_blue: #0094dc;
$color_gray: #eee;
$color_font_base: #333;
$color_font_link: $color_blue;
$color_font_link_hover: adjust-lightness($color_font_link, 30%);


/* Font */
body{
  font: 13px/1.385 arial, helvetica, clean, sans-serif; /* 基本文字設定 */
}

body, button, input, select, optgroup, textarea{
  font-family: YuGothic, '游ゴシック',"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","メイリオ", Meiryo,Osaka,"ＭＳ Ｐゴシック", "MS PGothic",
  sans-serif;
  color: $color_font_base;
}

a{ 
  color: $color_font_link; 
  &:hover{ 
    color: $color_font_link_hover; 
  }
}


/*============================
Function
============================*/

@mixin dammyArea() {
  @include background-image(linear-gradient(-45deg, #f6f6f6 25%, white 25%, white 50%, #f6f6f6 50%, #f6f6f6 75%, white 75%, white));
  background-size: 4px 4px;
}


/*============================
unit
============================*/

/* Global Header */
#globalHeader{
    background: #fff;
    border-bottom: 3px solid  #ddd;
  .base{
    position: relative;
    width: $width_page;
    margin: 0 auto;
    .logo{
      @include inline-block;
      vertical-align: middle;
      padding: 25px 0;
    }
    .globalNavi{
      position: absolute;
      top: 22px;
      right: 0;
      @include inline-block;
      vertical-align: middle;
      .navi{
        > li{
          @include inline-block;
          @include clearfix;
          @import "global/globalNavi/*.png";
          @include all-globalNavi-sprites($dimensions:true);
          margin-left: 30px;
          .pullDownNavi{
            position: absolute;
            top: 40px;
            display: none;
            background: #fff;
            padding: $width_base_margin/1.5;
            @include box-shadow(#ddd 0 2px 5px);
            > li{
              &+li{
                margin-top: $width_base_margin/2;
              }
            }
          }
        > a{
          @include inline-block;
          @include hide-text;
          background-image: url('../../imageFile/global/globalNavi-s18bfd9b8da.png') !important;
          &:hover{ opacity: .5; }
          }
        }
      }
    }
  }
}


/* Global Footer */
#globalFooter{
  margin-top: $width_base_margin * 3;
  padding: 100px 0;
  background: #fff;
  text-align: center;
  color: #bbb;
}

/*============================
parts
============================*/
