/*============================
@import
============================*/

@import "compass/reset/";


/*============================
Style
============================*/

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  word-break:break-all; 
  word-wrap:normal; 
}

img { border: 0; vertical-align: bottom; }

h1, h2, h3, h4, h5, h6 {
  font-size :100%;
  font-weight: bold;
}

em { font-style: normal; font-weight: bold; }

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
} 

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; } 